a {
    text-decoration: none;
    color: #071c4d;
}
body {
    font-family: 'Assistant', sans-serif;
    color: #071c4d;
    background-color: #fff;

}

// Navbar Css

.navbar {

    @media only screen and (min-width:992px) {
        margin-left: -14px; 
        
    }
       
}
.navbar-brand {
    img {
        max-height: 40px;
    }
}

.navbar-nav {
        a {
            color: #071c4d;

            &:active {
                font-weight: bold;
                color: #071c4d !important;
            }

        }

        li {
            padding: 0 10px;
        }
    
}

.btn-login {
    background-color: #071c4d;
    color: #fff;
    border-radius: 0;

    &:hover {
        background-color: #1E3771;
        color: #fff;
    }
}


.btn-navbar-right {
    padding: 0 20px;
    height: 70px;
}

@media only screen and (max-width:992px) {

    .navbar .form-inline .btn-navbar-right {
        height: 50px;
    }
    
}

// Header Css
header {
    padding:180px 0 165px 0 ;
    background-image: url(/frontend/images/header-background@2x.jpg);
    background-size: cover;
    margin-top: -70px;

    h1, p {
        color: #fff;
        
    }

    h1 {
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }

    p {
        font-size: 22px;
    }

}

@media only screen and (max-width: 576px) {
    header h1 {
      font-size: 36px;
    }

   header p {
        font-size: 18px;
    }
  } 

.btn-get-started {
    background-color: orange;
    color: #fff;

    &:hover {
        background-color: rgb(182, 122, 10);
        color: #fff;
    }
}

// Statistik Css

.container-wrapper {
    width: 50%;
    position: absolute;
    transform :translateX(50%) ;

    .section-stats {
        margin-top: -40px;
        background-color: #fff;
    
    
        .stats-detail {
            padding: 10px;
    
            h2 {
                font-size: 30px;
                margin-bottom: 0;
            }
    
            p {
                font-size: 20px;
                font-weight: lighter;
                margin: 0;
            }
    
        }
    }
 }


@media only screen and (max-width: 992px) {
    .container-wrapper .section-stats {
      margin-top: -60px;
    }
    
    .container-wrapper .section-stats .stats-detail h2 {
        font-size: 24px;
  
      }

    .container-wrapper .section-stats .stats-detail p {
        font-size: 10px;
          
      }
  }



// popular css
.section-popular {
    min-height: 530px;
    margin-bottom: -230px;
    background-color: #051334;

    .section-popular-heading {
        margin-top: 150px;
        h2, p {
            color: #fff;
        }

        h2 {
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }

        p {
            font-size: 18px;
        }
    }
}

.section-popular-content {
    
    .section-popular-travel {
        .card-travel {
            min-height: 380px;
            background-color: #1E3771;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;

            .travel-country {
               font-size: 18px;
               color: #fff; 
            }

            .travel-location {
                font-size: 26px;
                color: #fff;
            }

            .travel-button {
                .btn-travel-details {
                   background-color: orange;
                   color: #fff; 

                   &:hover {
                    background-color: rgb(182, 122, 10);

                   }
                }
            }
        } 
     }
        
}

.section-networks {
    background-color: #fff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2 {
        font-family: 'Playfair Display' , serif;
        font-size: 40px;
        font-weight: bold;
    }

    p {
        font-size: 18px;
    }

    img {
        width: 100%;
    }
}

// testimonial css
.section-testimonial-heading {
    background: linear-gradient(#fff 0%, #f7f9ff 100%);
    padding-top: 50px;
    min-height: 506px;

    h2 {
        font-family: 'Playfair Display' , serif;
        font-weight: bold;
        font-size: 40px;

    }
    p {
        font-size: 18px;
    }
}

.section-testimonial-content {
    margin-top: -300px;
    padding-bottom: 50px;

    .card-testimonial {
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

    .testimonial-content{
        min-height: 380px;
    }

    h3 {
        font-size: 22px;
    }

    .testimonial {
        font-size: 26px;
        min-height: 260px;
    }
    .trip-to {
        font-size: 22px;
    }
    hr {
        margin-left: -20px;
        margin-right: -20px;

    }
    }
}

.btn-need-help {

    // background-color: #f2f2f2;
    color: #c3c3c3;
    border: 2px solid #c3c3c3;

&:hover {
    background-color: #928d8d;
    color: #c3c3c3;
}

}

// footer Css


// =================================================
// Detail Page CSS

.section-detail-header {
    height: 310px;
    background-color: #e4e6eb;
    margin-top: -70px;
} 

.section-details-content {
    margin-top: -210px;
    min-height: 100vh;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 30px;
}

.breadcrumb-item {
    &.active {
        font-weight: bold;
        color: #071c4d;
    }
}

.card-details {
    padding: 30px;
    border-radius: 11px;

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 20px;
    }

    .trip-to {
        font-size: 18px;
        color: #b1b1b1;
    }

    h3 {
        font-weight: 600;
        font-size: 14px;
    }

    .disclaimer {
        font-weight: 400;
        font-size: 14px;
        
    }

    .gj-datepicker {
        .datepicker {
            border-right: 0;
        }

        .input-group-append {
            .btn {
                padding-right: 30px ;
            }
        }
    }

    .trip-information {
        th {
            font-weight: 400;
            font-size: 18px;
            color: #071c4d;
        }

        td {
            font-weight: 400;
            font-size: 18px;
            color: #b1b1b1;
        }

    
        .total {
            color: #071c4d;
            font-weight: 500;
        }
        .unique {
            color: orange;
            font-weight: 500;

        }

      
    }

    .payment-instructions {
        font-weight: 400px;
        font-size: 14px;
        color: #b1b1b1;
    }

    .bank {
        
        .bank-item {
            h3 {
                font-size: 18px;
                margin-bottom: 0;
                font-weight: 300px;
            }

            p {
                margin-bottom: 0;
            }

            .description {
                margin-left: 10px;
                overflow: hidden;
                float: left;

                p {
                    font-weight: normal;
                    font-size: 16px;
                }
            }
        }

        .bank-image {
            width: 45px;
            height: 45px;
            float: left;
        }
    }
}

.card-right {
    border-radius: 11px 11px 0 0;
}

.features {
    margin-top: 20px;

    h3 {
        font-size: 18px;
        margin-bottom: 0;
    }

    p {
        margin-bottom: 0;
    }
    
    .descriptions {
        margin-left: 10px;
        overflow: hidden;
        float: left;
    }

    .featured-image {
        width: 45px;
        height: 45px;
        float: left;
    }
}

.gallery {
    .xzoom-container {
        display: block;  

        .xzoom {
            width: 100%;
            margin-bottom: 10px;
        }

        .xactive {
            border: 10px solid #1a4c9c;
            
        }
    }
}

.join-container {
    margin-top: -16px;

    .btn-join-now {
        background-color: orange;
        color: #fff;
        border-radius: 0;

        &:hover {
            background-color: rgb(182, 122, 10);
            color: #fff;
        }
    }

}

tr {
    border-top: hidden;
    border-bottom: hidden;
}

.btn-add-now {
    background-color: #071c4d;
    color: #fff;

    &:hover {
        background-color: #1948b8 ;
        color: #fff;
    }
}

// succes page 
.section-success {
    height: 90vh;

    .success-wrapper {
        margin-top: -200px;

    h1 {
        font-weight: 600;
        font-size: 26px;
    }

    p {
        font-weight: 400;
        font-size: 18px;
        color: #b1b1b1;
    }

    .btn-home-page {
        background-color: #071c4d;
        border-radius: 4px;
        color: #fff;

        &:hover {
            background-color: #1948b8 ;
            color: #fff;
        }
    }
    }

}